@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    /* border-radius: 11px;
    background: #fafafa;
    box-shadow:  20px 20px 60px #d5d5d5,
                -20px -20px 60px #ffffff; */
    border-radius: 1px;
    background: #ffffff;
    box-shadow:  5px 5px 15px #d4d4d4,
                -5px -5px 15px #ffffff;
}

/* .card:hover{
    border-radius: 1px;
    background: #ffffff;
    box-shadow: inset 5px 5px 15px #d4d4d4,
                inset -5px -5px 15px #ffffff;
} */

.header{
    border-radius: 1px;
    background: #ffffff;
    box-shadow:  5px 5px 15px #d4d4d4,
                -5px -5px 15px #ffffff;
}

.btn-logout{
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow:  20px 20px 60px #c5c5c5,
                -20px -20px 60px #ffffff;
}
.sidebar{
    height: 100vh;
    border-radius: 1px;
    background: #ffffff;
    box-shadow:  5px 5px 15px #d4d4d4,
                -5px -5px 15px #ffffff;

}
.active{
    background-color: rgb(244, 244, 244);
}
.add_page{
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow:  20px 20px 60px #c5c5c5,
                -20px -20px 60px #ffffff;
}

.table{
    border-radius: 1px;
    background: #ffffff;
    box-shadow:  5px 5px 15px #d4d4d4,
                -5px -5px 15px #ffffff;

}

.menu{
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #c4c4c4,
                -5px -5px 10px #ffffff;

}
.menu:hover{
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  5px 5px 10px #c4c4c4,
                -5px -5px 10px #ffffff;
}
